In [5]:
import pandas as pd

In [1]:
import numpy as np

In [3]:
a=np.arange(1,10)

In [4]:
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [7]:
b=pd.Series([1,2,3,4,5,6])

In [8]:
b

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [9]:
seri1=pd.Series(['Ankara','Artvin','İstanbul','Rize','Denizli'])

In [10]:
seri1

0      Ankara
1      Artvin
2    İstanbul
3        Rize
4     Denizli
dtype: object

In [12]:
liste=['a','b','c']

In [14]:
seri2=pd.Series(liste)

In [15]:
seri2

0    a
1    b
2    c
dtype: object

In [17]:
a=np.arange(2,20)

In [18]:
a

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19])

In [19]:
seri3=pd.Series(a)

In [20]:
seri3

0      2
1      3
2      4
3      5
4      6
5      7
6      8
7      9
8     10
9     11
10    12
11    13
12    14
13    15
14    16
15    17
16    18
17    19
dtype: int32

In [21]:
type(seri3)

pandas.core.series.Series

In [23]:
seri3.axes #0 dan başlayıp 18 e kadar 1'er 1'er artıyor

[RangeIndex(start=0, stop=18, step=1)]

In [26]:
seri3.dtype

dtype('int32')

In [28]:
seri3.ndim

1

In [29]:
seri3.shape

(18,)

In [32]:
seri3.head() #Başlangıçtan itibaren ilk 5 veriyi gösteriyor
             #Asıl amaç veriyi üstünkörü analiz etmek,sütunları anlamak vs.
             #Veri seti hakkında bilgi ediniyoruz.

0    2
1    3
2    4
3    5
4    6
dtype: int32

In [34]:
seri3.tail() #Sondan 5 veriyi gösteriyor

13    15
14    16
15    17
16    18
17    19
dtype: int32

In [35]:
seri3[3]

5

In [37]:
seri4=pd.Series([1,2,3,4,5,6],index=[0,2,4,6,8,10])

In [57]:
seri4.iloc[4] #iloc belirlenen index değerine göre değil sıralı şekilde yine 0,1,2,3 gibi değerlerle çağırılmaya yarar

5

In [43]:
seri5=pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])

In [44]:
seri5

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [48]:
seri5['c']

3

In [49]:
seri5.f

6

In [54]:
seri6=pd.Series((1,2,3,4,5,6),index=(10,20,30,40,50,60))
seri6.loc[20:50]

20    2
30    3
40    4
50    5
dtype: int64

In [70]:
data=pd.DataFrame([1,2,3,4,5,6],columns=['İndex_0'])

In [79]:
data

   İndex_0
0        1
1        2
2        3
3        4
4        5
5        6

In [80]:
type(data)

pandas.core.frame.DataFrame

In [81]:
data.ndim

2

In [82]:
data.axes

[RangeIndex(start=0, stop=6, step=1), Index(['İndex_0'], dtype='object')]

In [88]:
a=np.random.randint(10,size=6)
b=np.random.randint(10,size=6)
c=np.random.randint(10,size=6)

data=pd.DataFrame({"s1":a,"s2":b,"s3":c})

In [89]:
data

   s1  s2  s3
0   3   9   3
1   0   7   5
2   4   4   0
3   3   9   5
4   7   3   9
5   9   2   9

In [93]:
data.drop('s2',axis=1)  #eğer satırda bir değişiklik olsa axis=0 olacak ama sütunda ise axis=1 olması gerekiyor yoksa syntax err

   s1  s3
0   3   3
1   0   5
2   4   0
3   3   5
4   7   9
5   9   9

In [98]:
data.drop(5,axis=0)

   s1  s2  s3
0   3   9   3
1   0   7   5
2   4   4   0
3   3   9   5
4   7   3   9

In [95]:
data

   s1  s2  s3
0   3   9   3
1   0   7   5
2   4   4   0
3   3   9   5
4   7   3   9
5   9   2   9