In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("C:/Users/muham/Veriler/AylaraGoreSatisVerisi.csv")

In [6]:
data

    Aylar  Satislar
0       8   19671.5
1      10   23102.5
2      11   18865.5
3      13   21762.5
4      14   19945.5
5      19   28321.0
6      19   30075.0
7      20   27222.5
8      20   32222.5
9      24   28594.5
10     25   31609.0
11     25   27897.0
12     25   28478.5
13     26   28540.5
14     29   30555.5
15     31   33969.0
16     32   33014.5
17     34   41544.0
18     37   40681.5
19     37    4697.0
20     42   45869.0
21     44   49136.5
22     49   50651.0
23     50   56906.0
24     54   54715.5
25     55   52791.0
26     59   58484.5
27     59   56317.5
28     64   61195.5
29     65   60936.0

In [12]:
aylar=data[["Aylar"]]
satislar=data[["Satislar"]]
#Verileri bağımlı ve bağımsız olarak ayıklıyoruz.

In [16]:
aylar2=data.iloc[:,0:1].values
satislar2=data.iloc[:,1:2].values
#Farklı bir ayırım şekli

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(aylar,satislar,test_size=0.33,random_state=42)
#Veri eğitimi işlemini tamamlıyoruz.

In [27]:
#verilerin ölçeklenmesi
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(x_train)
X_test=sc.fit_transform(x_test)

Y_train=sc.fit_transform(y_train)
Y_test=sc.fit_transform(y_test)

In [42]:
#Model İnşası
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,Y_train) #Test verisini denemek için eğitim kümesini eğitiyoruz oradan çıkardığımız bilgi ile testi yorumlayacağız.

#Test verisi ile Tahminleme
tahmin=lr.predict(x_test)

D:\Veri Bilimi\Anaconda\Anaconda\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [43]:
tahmin

array([[48.80507255],
       [25.6433432 ],
       [41.36023097],
       [28.12495706],
       [16.54409239],
       [19.85291087],
       [52.94109565],
       [44.66904945],
       [20.68011549],
       [ 6.61763696]])